<div class="text-padding">
  <h1 class="text-center">Cocktails</h1>
  <hr>
  <ul class="card-collection">
    <% @cocktails.each do |cocktail| %>
      <%= link_to cocktail_path(cocktail) do %>
      <li class="card", style="background-image:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path cocktail.photo, height: 240, width: 360, crop: :fill %>)">
        <div class="card-text">
          <h3><%= cocktail.name %></h3>
          <p><%= cocktail.description %></p>
        </div>
      </li>
      <% end %>
    <% end %>
  </ul>
</div>
