<div class="info-card text-padding">
  <div class="row" style="display:flex;justify-content:center;">
    <div class="col-sm-8 col-sm-offset-">
      <h1>New Cocktail</h1>
      <hr>
      <%= render 'form' %>
    </div>
  </div>
</div>
