.ingredient-entry {
  transition: all 150ms;
  i {
    font-size: inherit;
    margin-right: 30px;
    cursor: pointer;
  }
  .ingredient-delete {
    opacity: 0;
    color: $red;
  }
  &:hover {
    border-right: 5px solid $primary;
    .ingredient-delete {
      opacity: 1;
    }
  }
}
